<script>
import Carousel from "./carousel/carousel.svelte";
import { Col, Container, Row } from 'sveltestrap';
import Card from "./Card/Card.svelte";
import Footer from "./Footer/Footer.svelte";


	
</script>

<main>
	<Carousel/>
		<div class="carousel-inner "  >
			<Row>
				<Col xs="6">
				<Card/>
				</Col>
				<Col xs="6">
					<Card/>
				</Col>
			  </Row>
		</div>
		<div class="carousel-inner mb-10">
			<Row>
				<Col xs="8">
				<Card/>
				</Col>
				<Col xs="4">
					<Card/>
				</Col>
			  </Row>
		</div>
		<Footer/>
</main>

<style>

	
</style>