<footer class="carousel-inner text-center bg-warning">
    <div class="text-white p-2 " style="height:40px"    >
        Latihan Svelte : <a class="text-white href="https://sveltestrap.js.org/">Sveltestrap</a>
    </div>
</footer>